
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(250, 250, 250);
}
#header-one{
    /*position: fixed;*/
    width: 100%;
}
.container-fluid{
    background-color: rgb(165, 240, 172);
}
.nav-item{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}
#nav-bar{
    color: rgb(92, 87, 87);
}
#nav-bar:hover{
    color: rgb(181, 114, 244);
}
#nav-don{
    color: rgb(245, 114, 114);
    font-weight: bold;
}
#nav-don:hover{
    color: red;
}
.contact{
    text-decoration: none;
    color: rgb(131, 127, 127);
}
#button-nav{
    background-color: rgb(213, 237, 213);
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(237, 228, 228);
}
p{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(240, 240, 240);
}
#images-card{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}